:root {
    --clr-main: #F2A71B;
    --clr-second: #025E73;
    --clr-back: #BFB78F;
    --clr-alt: #e8e8e8;
    --clr-black: #011F26;

    color: var(--clr-black);
    background-color: var(--clr-alt);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 15vh;
    padding-top: 3vh;
}

main {
    background: var(--clr-second);
    border-radius: 0.5rem;
    padding: 3rem;
    margin: 1.5rem;
    margin-bottom: 15vh;

    color: var(--clr-alt);
}

main h2 {
    margin-bottom: 1.5rem;
}

label {
    font-size: 1.2rem;
}

input, textarea, select {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

textarea {
    max-width: 95%;
}

select {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

fieldset {
    margin-top: 1.5rem;
    border: none;
}

fieldset legend {
    font-size: 1.2rem;
}

button {
    border: var(--clr-alt);
    border-radius: 0.2rem;
    background-color: var(--clr-main);

    font-size: 1.2em;
    font-weight: 600;
    color: var(--clr-alt);
    padding: 0.5em 1em 0.5em 1em;
}

button:hover {
    background-color: var(--clr-back);
    color: var(--clr-second);
}

#register {
    margin-top: 1em;
}

#register a {
    color: var(--clr-main);
}