:root {
    --clr-main: #F2A71B;
    --clr-second: #025E73;
    --clr-back: #BFB78F;
    --clr-alt: #e8e8e8;
    --clr-black: #011F26;

    color: var(--clr-black);
    background-color: var(--clr-alt);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 15vh;
    padding-top: 3vh;
}

#myData {
    background: var(--clr-second);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1.5rem;
    margin-top: 1rem;

    color: var(--clr-alt);
}

input {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#myData button {
    border: var(--clr-alt);
    border-radius: 0.2rem;

    display: inline;

    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-alt);
    padding: 0.5em 1em 0.5em 1em;
}

#myData button:hover {
    background-color: var(--clr-back);
    color: var(--clr-second);
}

button.update {
    background-color: var(--clr-main);
}

button.delete {
    margin-top: 0.2rem;
    margin-left: 1rem;

    background-color: rgb(184, 54, 54);
}

#nachricht {
    margin-top: 0.2rem;
}

#actions {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 10vh;
}

#actions button {
    margin-left: -1rem;
    width: 100vw;

    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: none;
    border-top: 1.5px solid black;

}

#actions button:hover {
    background-color: var(--clr-back);
}